@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

body{
   font-family: 'Montserrat', sans-serif;
}

.container{
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}
.top_item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 43px;
}
.top_item_logo{
   display: flex;
   align-items: center;
   
}
.logo_text{
   font-style: bold;
   font-weight: 700;
   font-size: 20px;
}

.top_item_contact{
  color: black; 
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
}

.contact_mail{
   color: black;
}

.main_item{
   margin: 0 auto;
   background-image: url(/Land/img/andy-kelly-5APBLfC2hUs-unsplash.jpg);
   height: 831px;
   width: 1170px;
   background-position: center center;
   background-repeat: no-repeat;
   overflow: hidden;
   background-size: cover;  
}

.main_item_info{
   position: absolute;
   width: 525px;
   height: 344px;
   margin-left: 100px;
   margin-top: 175px;
}

.main_item_info_title{
   font-style: normal;
   font-weight: 900;
   font-size: 45px;
   line-height: 55px;
   color: #F3F3F3;
   margin-bottom: 37px;
}

.main_item_info_subtitle{
   width: 500px;
   height: 120px;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 40px;
   color: #F3F3F3;
   margin-bottom: 74px;
}

.main_item_info_btn{
   width: 314px;
   height: 86px;
   background: rgba(0, 0, 0, 0.4);
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 10px;
   color: #F3F3F3;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 40px;
   align-items: center;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   transform: 0.3s all ease;
}


.main_item_info_btn:hover{
   background: rgba(2,202,2,0.95);
   transform: 0.3s all ease;
}